<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
</head>
<body>
<div>Microblog: <a href="/">Home</a></div>
    <hr>
    {% if jammi %}
    <h1>{{ jammi }} - microblog</h1>
    {% else %}
    <h1>Welcome to microblog</h1>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
